In [2]:
import pandas as pd
import numpy as np

In [5]:
domviol=pd.read_csv("domviol.csv")

domviol.head() #this looks weird, single column, needs to be separated into 4 columns

  kpiId;KpiName;value;DataType;period;StartDate;EndDate;CollectionFrequency
0  DOMV9a;Domestic Violence Incidents Level - Med...
1  DOMV9a;Domestic Violence Incidents Level - Med...
2  DOMV9a;Domestic Violence Incidents Level - Med...
3  DOMV9a;Domestic Violence Incidents Level - Med...
4  DOMV9a;Domestic Violence Incidents Level - Med...

In [13]:

domviol.dataframeName = 'domviol.csv'
nRow, nCol = domviol.shape

if nCol>1:
    plural1="s"
else:
    plural1=""
    
if nRow>1:
    plural2="s"
else:
    plural2=""
print("This dataset has: {} column{} and {} row{}.".format(nCol,plural1, nRow,plural2))

This dataset has: 1 column and 107 rows.

In [35]:
# different values are separated by ";"

#Task 
#split the column into 8 columns, use ";" as a separator, str.split method, n=0

new = domviol["kpiId;KpiName;value;DataType;period;StartDate;EndDate;CollectionFrequency"].str.split(";", n = 0, expand = True)

# making separate columns from new data frame
domviol["kpiId"]= new[0]
domviol["KpiName"]= new[1]  
domviol["value"]=new[2]
domviol["DataType"]=new[3]
domviol["period"]=new[4]
domviol["StartDate"]=new[5]
domviol["EndDate"]=new[6]
domviol["CollectionFrequency"]=new[7]

# Dropping old Name columns
domviol.drop(columns =["kpiId;KpiName;value;DataType;period;StartDate;EndDate;CollectionFrequency"], inplace = True)

KeyError: 'kpiId;KpiName;value;DataType;period;StartDate;EndDate;CollectionFrequency'

In [37]:
# i want to remove the word "number" frok the value column

domviol['value'] = domviol['value'].map(lambda x: x.rstrip('Number'))

domviol.head()

,kpiId,KpiName,value,DataType,period,StartDate,EndDate,CollectionFrequency
0,DOMV9a,Domestic Violence Incidents Level - Medium Risk,15.00,Number,2011/2012_Apr,01/04/2011,30/04/2011,Monthly
1,DOMV9a,Domestic Violence Incidents Level - Medium Risk,36.00,Number,2011/2012_Q1,01/04/2011,30/06/2011,Monthly
2,DOMV9a,Domestic Violence Incidents Level - Medium Risk,278.00,Number,2011/2012,01/04/2011,31/03/2012,Monthly
3,DOMV9a,Domestic Violence Incidents Level - Medium Risk,9.00,Number,2011/2012_May,01/05/2011,31/05/2011,Monthly
4,DOMV9a,Domestic Violence Incidents Level - Medium Risk,12.00,Number,2011/2012_Jun,01/06/2011,30/06/2011,Monthly

In [56]:
# now I would like to sort out the period variable- only select quarters or month by month
#datset with yearly figures  
year_list=["2011/2012", "2012/2013" , "2013/2014" , "2014/2015" , "2015/2016" , "2016/2017" , "2017/2018", "2018/2019"]
 
domviol_yearly=domviol[domviol.period.isin(year_list)]


domviol_yearly[['period', 'value']]

       period    value
2   2011/2012  278.00
19  2012/2013  463.00
35  2013/2014  621.00
51  2014/2015  715.00
69  2015/2016       NC
85  2016/2017       NC
91  2018/2019       NA

In [36]:
#now do similar for monthly data

pandas.core.series.Series